.toptitle {
	color: #808080;
	background-color: #000000;
	padding: 8px;
	border-top: 4px solid #808080;
	border-right: 4px solid #808080;
	border-bottom: 4px solid #808080;
	border-left: 4px solid #808080;
	margin: 15px;
}

.toptitle>a {
	margin-right: 15px;
	margin-left: 15px;
}

.maintext {
	color: #000000;
	background-color: #FFFFFF;
	padding: 20px;
	border-top: 4px solid #808080;
	border-right: 4px solid #1c2137;
	border-bottom: 4px solid #1c2137;
	border-left: 4px solid #808080;
	margin: 15px;
}

b,
strong {
	color: #3C9A4E;
}

#header {
	background-image: url('media/altrat.gif');
}

#container {
	max-width: 815px;


	margin: 0 auto;

}




.subtle-text {
	color: #808080;
}




/* link stuff */
a {
	color: #008000;
}


#badges {
	color: #000000;
	background-color: #FFFFFF;
	padding: 8px;
	border-top: 4px solid #808080;
	border-right: 4px solid #1c2137;
	border-bottom: 4px solid #1c2137;
	border-left: 4px solid #808080;
	margin: 15px;
}


body {
	background-image: url("media/alttile.gif")
}

/* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre {
	white-space: pre-line;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
}

.header-underlined {
	border-bottom: 1px solid #000000;
	
}


h1 {
	text-align: center;
}

#change-bit-button {
	border: none;
	background-color: white;
	color: white;
	text-align: center;
}