            :root {
                --header-image: url('header.png');
                --body-bg-image: url("tile.png");

                /* colors */
                --content: #ddc8c4;
				--border-size: 4px;
				--border-colour: #3F334D ;
				
				--mint-cream: #3C9A4E;
				--pale-dogwood: #B0C748;
				--rose-taupe: #7D8491;
				--eggplant: #574B60;
				--text-colour: #574B60;
				
            }


    #app {
      position: fixed; /* Makes it float on the screen */
      top: 50%; /* Centers vertically */
      left: 0; /* Aligns to the right edge */
      transform: translateY(-50%); /* Adjusts for vertical centering */
      width: 320px; /* Adjust the size of the container */
      z-index: 1000; /* Ensures it appears above other elements */
    }






main {
  border: var(--border-size) outset var(--border-colour);
}

aside {
	border: var(--border-size) outset var(--border-colour);
}

main img {
	border: var(--border-size) outset var(--border-colour);
}


            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
            }

            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
                font-weight: bold;
            }

            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
                font-style: italic;
            }

            @font-face {
                font-family: Nunito;
                src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
                font-style: italic;
                font-weight: bold;
            }

            body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #08031A;
    /* you can delete the line below if you'd prefer to not use an image */
    background-size: 512px;
    color: #5DAB0C;
    background-image: var(--body-bg-image);
            }

            * {
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    font-size: medium;


            }

            /* below this line is CSS for the layout */

            /* this is a CSS comment
    to uncomment a line of CSS, remove the * and the /
    before and after the text */


            /* the "container" is what wraps your entire website */
            /* if you want something (like the header) to be Wider than
    the other elements, you will need to move that div outside
    of the container */
            #container {
                max-width: 900px;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
                margin: 0 auto;
                /* this centers the entire page */
            }


			#badges {
				margin-top: 10px; 
				background: var(--content); 
				border: 4px outset var(--border-colour);
			}


            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: var(--mint-cream);
                font-weight: bold;
                /* if you want to remove the underline
      you can add a line below here that says:
      text-decoration:none; */
            }

            #header {
                width: 100%;
                /* header color here! */
                height: 150px;
				
                /* this is only for a background image! */
                /* if you want to put images IN the header, 
      you can add them directly to the <div id="header"></div> element! */
                background-image: var(--header-image);
                background-size: 25%;
            }

            /* navigation section!! */
            #navbar {
                height: 40px;
                background-color: var(--eggplant);
				
                /* navbar color */
                width: 100%;
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            #navbar li {
                padding-top: 10px;
            }

            /* navigation links*/
            #navbar li a {
                color: var(--pale-dogwood);
                /* navbar text color */
                font-weight: 800;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color: #a49cba;
                text-decoration: underline;
            }

            #flex {
                display: flex;
            }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
            aside {
                background-color: var(--content);
                width: 200px;
                padding: 20px;
                font-size: smaller;
                /* this makes the sidebar text slightly smaller */
            }

            main {
                background-color: var(--content);
                flex: 1;
                padding: 20px;
                order: 2;
            }

            */ #leftSidebar {
                order: 1;
            }


            footer {
                background-color: var(--border-colour);
                /* background color for footer */
                width: 100%;
                height: 40px;
                padding: 10px;
                text-align: center;
				color: #675483;
                /* this centers the footer text */
            }

            h1,
            h2,
            h3 {
                color: var(--eggplant);
            }

            h1 {
                font-size: 25px;
            }

            strong {
                /* this styles bold text */
                color: var(--eggplant);
            }

			p {
				color: var(--text-colour);

			}

            /* this is just a cool box, it's the darker colored one */
            .box {
    background-color: var(--eggplant);
    border: 4px solid var(--border-colour);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
            }

            /* CSS for extras */

            #topBar {
                width: 100%;
                height: 30px;
                padding: 10px;
                font-size: smaller;
                background-color: var(--content);
            }


            /* BELOW THIS POINT IS MEDIA QUERY */

            /* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }
